{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
    <div class="landingpage">
        {{ content }}

        {% for tech in meta.techs %}
            <div class="box {{ tech.class }}">
                <a href="{{ base_url }}/analysis/{{ tech.name }}">
                <h1>{{ tech.name }}</h1>
                </a>
            </div>
        {% endfor %}
    </div>
    <picture>
        <source media="(min-width: 668px)" srcset="image/sheep.jpg">
        <source media="(min-width: 376px)" srcset="image/sheep.jpg?w=667">
        <img src="image/sheep.jpg?w=375" alt="sheep">
    </picture>

    <a href="{{ base_url }}/image/sheep.jpg" target="_blank">
    <picture>
        <source media="(min-width: 668px)" srcset="{{ base_url }}/image/sheep.jpg">
        <img src="{{ base_url }}/image/sheep.jpg&w=667" alt="A sheep">
    </picture>
</a>

    <div class="embed-container">
        <iframe src="https://www.youtube.com/embed/gCwjLPBqpa0" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>
</html>
